<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
		<form action="/employees/save" th:object="${employee}" method="POST">
		
		<input type="text" placeholder="Employee First Name" th:field="${employee.firstName}">
		<br />
		<input type="text" placeholder="Employee Last Name" th:field="${employee.lastName}">
		<br />
		<input type="text" placeholder="Email" th:field="${employee.email}">
		<br />
		<button type="submit">Add Employee</button>
		
		</form>
	</div>
	
</body>

</html>